<div class="flex justify-between items-center mx-4">

    <div class="flex-1 w-10/12">
        <a href="/" class="btn btn-ghost normal-case justify-center items-center h-auto text-3xl p-4 px-6" aria-label="Home">Lego Collection</a>      
    </div>
    
    <div class=" hidden md:flex items-center justify-center w-2/12 text-lg">
        <% if(session.user) { %>
            <!-- Render dropdown for active session -->
            <details>
                <summary>Account: <%= session.user.userName %></summary>
                <ul class="p-2 right-0">
                    <li><a class="<%= (page == "/lego/addSet") ? 'active' : '' %>" href="/lego/addSet">Add to Collection</a></li>
                    <li><a class="<%= (page == "/userHistory") ? 'active' : '' %>" href="/userHistory">User History</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </details>
        <% } else { %>
            <!-- Render dropdown for non-active session -->
            <details>
                <summary>Account</summary>
                <ul class="p-2 right-0">
                    <li><a class="<%= (page == "/login") ? 'active' : '' %>" href="/login">Login</a></li>
                    <li><a class="<%= (page == "/register") ? 'active' : '' %>" href="/register">Register</a></li>
                </ul>
            </details>
        <% } %>
        <a class="<%= (page == "/lego/sets") ? 'active' : '' %> btn btn-ghost" href="/lego/sets" aria-label="lego/sets">View Collection</a>
        <a class="<%= (page == "/about") ? 'active' : '' %> btn btn-ghost" href="/about" aria-label="About">About</a>
    </div>
</div> 
<br> 
